@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'poppins';
    background-color: #1d3557;;
    color: #fff;
}

table {
    border-collapse: collapse;
    margin: 20px 0px;
    color:rgb(37, 37, 37);
    font-size: 0.95em;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid #c1c1c1;
    padding: 10px;
}

th {
    border: 1px solid #c1c1c1;
    padding: 15px;
    background-color: #e7e7e7;
}


.edit , .delete {
    text-decoration: none;
    font-size: 0.8em;
    color:#1d3557;
    text-transform: uppercase;
    font-weight: 600;

}

.button {
    text-decoration: none;
    font-size: 1em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: 1px solid #1d3557;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin : 20px 15px;
    background-color: #1d3557;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.2em;
}

.button:hover {
    background-color: #101f33;
}


.edit:hover {
    text-decoration: none;
    font-size: 0.8em;
    color:#4d7ab9;
    text-transform: uppercase;
    font-weight: 600;
}

.delete:hover {
    text-decoration: none;
    font-size: 0.8em;
    color:#e41d1d;
    text-transform: uppercase;
    font-weight: 600;
}

.input {
    display:grid;
    padding : 5px 0px;
    
}

label {
    margin: 5px 0px;
    color: #1d3557;
    font-weight: 500;
}


.input input, select {
    padding : 15px;
    font-family: 'poppins' , 'sans-serif';
    font-size: 1em;
    border-radius: 5px;
    background-color: #efefef;
    border: 0px;
}

input[type=submit] {
    width: 100%;
    font-family: 'poppins' , 'sans-serif';
    text-decoration: none;
    font-size: 1em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: 1px solid #1d3557;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin : 20px 0px;
    background-color: #1d3557;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.2em;
}

input[type=submit]:hover {
    background-color: #101f33;
}


.containers {
    width: 50%;
    margin: 5em auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container {
    width: 50%;
    margin: 5em auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    color: #1d3557;
    font-weight: 700;
    padding: 20px;
}


.containers h2 {
    text-align: center;
    color: #1d3557;
    font-weight: 700;
    padding: 20px;
}

nav {
    display: block;
}

nav a {
    padding: 12px 20px;
    display: inline-block;
    color:black;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

nav a.active,
nav a:hover {
    color: #2b83ea;
}